
autocreated_scripts/*
!autocreated_scripts/.gitkeep
errors/*
cache-repo/*
!cache-repo/.gitkeep
git_configs/*
old_diffs/*
tar_zsts_contents/*
tar.zst-s_contents_*
!tar_zsts_contents/.gitkeep
trashbin/*
!trashbin/.gitkeep
log.txt
reflector_mirrorlist_cache
CREATE_MIRRORLIST_CACHE.sh
!/templates/CREATE_MIRRORLIST_CACHE.sh

testing/\[modified\]OVMF_VARS.4m.fd
testing/\[modified\]archlinux_vm_disk.qcow2
testing/\[original\]archlinux_vm_disk.qcow2
testing/\[original\]archlinux_vm_disk.qcow2.zst
testing/archlinux-*.iso
testing/archlinux-*.iso.aria2
testing/arch.torrent

# - Libreoffice lock files
.~lock.*#

