
autocreated_scripts/*
!autocreated_scripts/.gitkeep
errors/*
cash-repo/*
git_configs/*
old_diffs/*
tar_zsts_contents/*
!tar_zsts_contents/.gitkeep
trashbin/*
!trashbin/.gitkeep
log.txt


# - Libreoffice lock files
.~lock.*#

